/* GLOBAL STYLES
-------------------------------------------------- */


/* Padding below the footer and lighter body text */

body {
    padding-bottom: 20px;
    color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar-inverse {
    opacity: .95;
}

.navbar-inverse .navbar-brand {
    padding: 0px 15px;
}

.navbar-inverse .navbar-brand img {
    width: 50px;
    height: 50px;
}

.navbar-inverse .navbar-nav {
    font-weight: bold;
}

.navbar-inverse .navbar-nav li.active {
    font-size: 16x;
}


/* CUSTOMIZE THE JUMBOTRON
-------------------------------------------------- */

.jumbotron {
    padding-top: 70px;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(90deg, #5a5a5a, #700000, #5a5a5a);
    background-size: 600% 600%;
    -webkit-animation: JumbotronAnimation 16s ease infinite;
    -moz-animation: JumbotronAnimation 16s ease infinite;
    animation: JumbotronAnimation 16s ease infinite;
}

@-webkit-keyframes JumbotronAnimation {
    0% {
        background-position: 0% 47%
    }
    50% {
        background-position: 100% 54%
    }
    100% {
        background-position: 0% 47%
    }
}

@-moz-keyframes JumbotronAnimation {
    0% {
        background-position: 0% 47%
    }
    50% {
        background-position: 100% 54%
    }
    100% {
        background-position: 0% 47%
    }
}

@keyframes JumbotronAnimation {
    0% {
        background-position: 0% 47%
    }
    50% {
        background-position: 100% 54%
    }
    100% {
        background-position: 0% 47%
    }
}

@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
    }
    25%, 75% {
        -webkit-transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(5px);
    }
}

@-moz-keyframes shake {
    0%, 100% {
        -moz-transform: translateX(0);
    }
    25%, 75% {
        -moz-transform: translateX(-5px);
    }
    50% {
        -moz-transform: translateX(5px);
    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
}

.social .btn.btn-social-icon {
    margin: 10px 0px;
}

@media screen and (min-width: 768px) {
    .social .btn.btn-social-icon:hover {
        -webkit-animation: shake .3s ease;
        -moz-animation: shake .3s ease;
        animation: shake .3s ease;
    }
    .social .btn.btn-social-icon {
        margin: 20px 10px;
    }
}


/* MARKETING CONTENT
-------------------------------------------------- */


/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0;
    /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}
