/* GLOBAL STYLES
-------------------------------------------------- */

@import url('./timeline.css');

/* Padding below the footer and lighter body text */

body {
    color: #5a5a5a;
}

footer {
    padding: 10px;
    background-color: #3D3D3C;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar-inverse {
    opacity: .95;
}

.navbar-inverse .navbar-brand {
    padding: 0px 15px;
}

.navbar-inverse .navbar-brand img {
    width: 50px;
    height: 50px;
}

.navbar-inverse .navbar-nav {
    font-weight: bold;
}

.navbar-inverse .navbar-nav li.active {
    font-size: 16x;
}


/* CUSTOMIZE THE JUMBOTRON
-------------------------------------------------- */

.jumbotron {
    padding-top: 70px;
    margin: 0px;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(90deg, #5a5a5a, #2196F3, #5a5a5a);
    background-size: 600% 600%;
    -webkit-animation: JumbotronAnimation 16s ease infinite;
    -moz-animation: JumbotronAnimation 16s ease infinite;
    animation: JumbotronAnimation 16s ease infinite;
}

@-webkit-keyframes JumbotronAnimation {
    0% {
        background-position: 0% 47%
    }
    50% {
        background-position: 100% 54%
    }
    100% {
        background-position: 0% 47%
    }
}

@-moz-keyframes JumbotronAnimation {
    0% {
        background-position: 0% 47%
    }
    50% {
        background-position: 100% 54%
    }
    100% {
        background-position: 0% 47%
    }
}

@keyframes JumbotronAnimation {
    0% {
        background-position: 0% 47%
    }
    50% {
        background-position: 100% 54%
    }
    100% {
        background-position: 0% 47%
    }
}

.social .btn.btn-social-icon {
    margin: 10px 0px;
    border-radius: 50%;
    transition: transform .7s;
}

.social .btn.btn-social-icon:hover {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

@media screen and (min-width: 768px) {
    .social .btn.btn-social-icon {
        margin: 20px 10px;
        zoom: 1.2;
    }
}


/* CUSTOMIZE THE Main content area
-------------------------------------------------- */

.container-fluid.main section .container {
    padding-top: 50px;
}

.container-fluid.main {
    padding: 0px;
}

.main section header {
    text-align: center;
}

.main section header hr {
    width: 60%;
    border-top: 2px solid #2196F3;
}


/* Personal Profile - about section
-------------------------------------------------- */

.main .about {
    background-color: #EEEEDD;
    padding: 20px 10px;
}

.main .about .pic img {
    width: 150px;
    height: 150px;
    border: 5px groove black;
}

.main .about .pic {
    text-align: center;
    padding: 5px;
}


/* Skills section
-------------------------------------------------- */

.main .skills {
    background-color: #ffffff;
    padding: 20px 10px;
}

.main .skills h4 {
    text-align: center;
}

.main .programmingSkills .progress .plabel {
    position: absolute;
    margin-left: 5px;
    font-weight: bold;
    color: #fff;
    z-index: 1;
}


/* Experience section
-------------------------------------------------- */

.main .experience {
    background-color: #EEEEDD;
    padding: 20px 10px;
}
